# The Timezone in which you run your camAPS system
TZ=Europe/Berlin

# if you use docker for deploy and run both services from the same compose
# in any case .../api/v2 is mandatory
NIGHTSCOUT_API=https://nightscout:1337/api/v2

# create a token in the admin are with api create permission
NIGHTSCOUT_TOKEN=diary-996b306e143f6441

# Your diasend login credentials
DIASEND_USERNAME=your.email@adress.com
DIASEND_PASSWORD=YourSuperSecretPassword

# Keep this values unchanged - this are default values to identify the plugin
DIASEND_API=https://api.diasend.com/1
DIASEND_CLIENT=a486o3nvdu88cg0sos4cw8cccc0o0cg.api.diasend.com
DIASEND_SECRET=8imoieg4pyos04s44okoooowkogsco4